<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bioCodemy</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='index.css') }}">


    <!-- For AJAX -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </head>


<body>

  <!-- Top menu -->
  <nav class="navbar navbar-dark navbar-expand-md bg-custom">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img id="weblogo" src="{{ url_for('static', filename='logo2.png') }}" alt="bioCodemy">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a href="{{ url_for('auth.login') }}" class="nav-link">
                Log In
            </a>
          </li>
          <li class="nav-item" id="login-button">
            <a href="{{ url_for('auth.signup') }}" class="nav-link">
                Join Us
            </a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}

          <li class="nav-item">
             <a href="{{url_for('auth.exercises') }}" class="nav-link">
               Challenges
             </a>
           </li>

          <li class="nav-item">
            <a href="{{ url_for('main.profile') }}" class="nav-link">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth.logout') }}" class="nav-link">
              Logout
            </a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meet the developers
          </a>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer class="footer" style="clear: both">
      <span class="text-muted" style="padding: 0 40px 0 0"><a>&copy; 2021 bioCodemy</a></span>
  </footer>

  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>

</html>
