{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ challenge.name }}
</h1>
<h2>
  {{ challenge.instructions }}
</h2>

<div class="container" id ="challenge_start">
  <form>
      <a href="#" id="test"><button class='btn btn-default' onclick="start_challengue()">Start the Challenge</button></a>
  </form>
</div>

<div id="challenge" class="container" style="display: none;">

  <h2>
    {{challenge.test_data}}
  </h2>
  <div id="hints" class="container">
    <button onclick="display_hint()" class="btn btn-primary" id="start">Hint</button>
    <div class="container" id="hidden_hint" style="display: none;">
      <p> {{ challenge.hint }}</p>
    </div>

    <form method="POST" action="/test">
        <div class="field">
            <div class="control">
                <input class="form-control input-lg" type="answer" name="answer" placeholder="Please enter your answer here">
            </div>
        </div>
        <button class="btn btn-primary" id="log_button">Submit Answer</button>
    </form>
  </div>
<div>
<script>
  function display_hint(){
    var x = document.getElementById("hidden_hint");
    if (x.style.display === "none") {
      x.style.display = "block";
    }
  }
</script>

<script>
  function start_challengue(){
    var x = document.getElementById("challenge");
    if (x.style.display === "none") {
      x.style.display = "block";
    }
    document.getElementById("challenge_start").style.display = 'none';
  }
</script>

<!-- Two possible options for the start-time button -->
<script type=text/javascript>
    var request = new XMLHttpRequest();
    request.onreadystatechange = function () {
    // this method gets called if the state of the request changes (it succeeds of fails)
    // you will probably want to update your page accordingly here
    };
    request.open('POST', '/test2');
    request.send();
</script>
<script type=text/javascript>
    $(function() {
      $('a#test').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/background_process_test',
            function(data) {
          //do nothing with the JSON data comming from the Flask APP.
        });
        return false;
      });
    });
</script>

{% endblock %}
