{% extends "base.html" %}
{% block content %}
<div class="container" id="content_fill">
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success" role="alert">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCat(event, 'All')" id="defaultOpen" >All</button>
  {% for cat_name, cat_values in tab_categories.items() %}
    <button class="tablinks" onclick="openCat(event, '{{ cat_name }}' )">{{ cat_name }}</button>
  {% endfor %}
</div>

<div id="All" class="tabcontent" >
    <table class="table">
      <thead>
        <th scope="col">Challenge</th>
        <th scope="col">Difficulty</th>
        {% if current_user.is_authenticated %}
        <th scope="col">Highest Score</th>
        {% endif %}
        <th scope="col">Go to challenge</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </thead>
      <tbody>
        {% for item in exercise_list %}
          <tr>
            <td>{{ item.name}}</td>
            <td>{{ item.level }}</td>
            {% if current_user.is_authenticated %}

              {% if not max_scores[item.id] %}
              <td> 		- </td>

              {% else %}
              <td> {{ max_scores[item.id] }}</td>
              {% endif %}

            {% for language in item.languages %}
                <td>
                    <a class="btn btn-primary" id="language_button" href="{{ url_for('auth.detailed_exercise', id=item.id, language=language.languages.name) }}" role="button"> {{ language.languages.name }}
                        <img src="{{ url_for('static', filename='logo/' + language.languages.name + '.png') }}" width="15" height="15">
                    </a>
                </td>
            {% endfor %}
            {% else %}
                <td> Log in to unlock</td>
                <th scope="col"></th>
        		<th scope="col"></th>

            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


{% for cat_name, cat_values in tab_categories.items() %}
<div id= {{cat_name}} class="tabcontent">
    <table class="table">
      <thead>
        <th scope="col">Challenge</th>
        <th scope="col">Difficulty</th>
        {% if current_user.is_authenticated %}
        <th scope="col">Highest Score</th>
        {% endif %}
        <th scope="col">Go to challenge</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </thead>
      <tbody>
        {% for item in cat_values %}
          <tr>
            <td>{{ item.name}}</td>
            <td>{{ item.level }}</td>
            {% if current_user.is_authenticated %}

              {% if not max_scores[item.id] %}
              <td> 		- </td>

              {% else %}
              <td> {{ max_scores[item.id] }}</td>
              {% endif %}

            {% for language in item.languages %}
                <td>
                    <a class="btn btn-primary" id="language_button" href="{{ url_for('auth.detailed_exercise', id=item.id, language=language.languages.name) }}" role="button"> {{ language.languages.name }}
                        <img src="{{ url_for('static', filename='logo/' + language.languages.name + '.png') }}" width="15" height="15">
                    </a>
                </td>
            {% endfor %}
            {% else %}
                <td> Log in to unlock</td>
		        <th scope="col"></th>
        		<th scope="col"></th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endfor %}

<script language="javascript" type="text/javascript">
    function openCat(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<!-- To show All exercises by default -->
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</div>
{% endblock %}

