{% extends "base.html" %}

{% block content %}
<div id="login_box" class="container" >
    <div class="box">
      <img class="mb-4" src="img/bootstrap-stack.png" alt="" width="72" height="72">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
        <form method="POST" action="/login">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
    </div>
</div>
{% endblock %}
