{% extends "base.html" %}

{% block content %}

<div class="container-fluid h-100" id="profile_fill">
    <div class="row h-100" style="overflow: auto"">

      <div class="col-4 left" id="columna" style="justify-content: center">
          
          <div id="sidebar">         
            <div id="content_column">

            <div class="img-container">
              <img src="/static/profile.png" alt="">
            </div>

            <div class="info_container">

              <div id="name_profile">arnau</div>

              <ul class="no-bullets">
                <li>You have solved: 3 challenges</li>
                <li>Your total score is: 3</li>
              </ul>

            </div>

          </div>
        </div>
      </div>

      <div id="mainbox" class="col-8 right" id="columna">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="container" id="welcome">
            Hi :) It is nice to see you again. Last time you visited us was: {{ messages[0] }}.
          </div>
        {% endif %}
        {% endwith%}


        <div class="container" id="pending_challenges">

          {% if total_pending|length == 0 %}
            <div id="pending_title">You don't have any pending challenge. Why don't you take a look at the list of available ones:
              <div style="text-align: center; margin-top: 20px">
                <a class="btn btn-primary" id="problem_button" href="{{ url_for('auth.exercises') }}" role="button">SHOW ME</a>
              </div>
            </div>

          {% else %}

            <div id="pending_title">You have already started {{ total_pending|length }} challenges. Why don't you try to finish them?
               <table class="table" id="pending_table">
                 <thead>
                    <th scope="col">Challenge</th>
                    <th scope="col">Programming Language</th>
                    <th scope="col" style="text-align: center">Go to challenge</th>
                  </thead>
                  <tbody>
                    {% for pen in total_pending %}
                      <tr>
                        <td>{{ pen[0].challenges.name }}</td>
                        <td>{{ pen[1] }}</td>
                        <td style="text-align: center;">
                          <a class="btn btn-primary" id="problem_button" style="font-size: 18px; padding: 2px 15px;" href="{{ url_for('auth.detailed_exercise',  id=pen[0].challenges.id, language=pen[1]) }}" role="button"> GO </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>                              
            </div>

          {% endif %}

        </div>

        {% if not (r_data == 0 and perl_data == 0 and python_data == 0) %}
        <div class="container" style="margin-top: 35px; margin-bottom: 50px">

          <div id="pending_title" style="padding-bottom: 35px">
            These are your favorite programming languages:
          </div>

          <canvas id="solved_propotrtion" width="10" height="3"></canvas> 
        </div>
        {% endif %}

      </div>
    </div>  
  
  <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>

  <script>
    var chart_canvas = document.getElementById("solved_propotrtion");
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var chart_data = {
      labels: ["Python",
              "Perl",
              "R"
      ],
      datasets: [
        {
          data: [{{python_data}},{{perl_data}},{{r_data}}],
          backgroundColor:["#40c999","#fab24d","#ed82e4"]
        }
      ],
    };

    var chartOptions = {
      rotation: -Math.PI,
      circumference: Math.PI,
      legend:{position:'bottom',
              labels: {fontFamily: "'Roboto Mono', monospace", fontColor: 'white'}, 
      },
    };

    var doughnut_chart =new Chart(chart_canvas, {
      type: 'doughnut',
      data: chart_data,
      options: chartOptions
    });
  </script>

  <script>
    window.addEventListener('resize', function () { doughnut_chart.resize() })
  </script>

</div>

{% endblock %}
