{% extends "base.html" %}

{% block content %}

<div class="container-fluid" id="profile_fill">


      <div id="sidebar" class="col-sm-4">

        <div class="responsive-container">
          <div class="dummy"></div>

            <div class="img-container">
              <div class="centerer"></div>
              <img src="{{ url_for('static', filename='profile.png') }}" alt="" />
          </div>
        </div>

        <h2>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          Last time you visited us was {{ messages[0] }}.<br>
          {% endif %}
          {% endwith%}
          User related stuff
        </h2>
        You have {{ total_pending|length }} pending challenges.<br>

        {% for pen in total_pending %}
            <a class="btn btn-primary" href="{{ url_for('auth.detailed_exercise', id=pen[0].challenges.id, language=pen[1]) }}" role="button">
                {{ pen[0].challenges.name }}
            </a>
        {% endfor %}

      </div>

      <div id="mainbox" class="col-lg-8">

        Hello
        <br>
        <table style="width: 100%">
            <tbody>
                <td style="border-bottom: 1px solid white">
                    Solved challenges:<br>
                    {{ total_solved }}
                </td>
                <td style="border-bottom: 1px solid white">
                    Personal score:<br>
                    {{ total_score }}
                </td>

            </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>


      </div>

  <canvas id="solved_propotrtion" width="600" height="400"></canvas>

  <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>

  <script>
    var chart_canvas = document.getElementById("solved_propotrtion");
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var chart_data = {
      labels: ["Python",
              "Perl",
              "R"
      ],
      datasets: [
        {
          data: [{{python_data}},{{perl_data}},{{r_data}}],
          backgroundColor:["#ef8a62","#f7f7f7","#67a9cf"]
        }
      ]};

    var chartOptions = {
      rotation: -Math.PI,
      circumference: Math.PI,
      legend:{position:'bottom'},

    };

    var doughnut_chart =new Chart(chart_canvas, {
      type: 'doughnut',
      data: chart_data,
      options: chartOptions
    });
  </script>

</div>

{% endblock %}
