{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="container" id=login_box>
    <h3 class="title">Sign Up</h3>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
              {% if var == "auth.login" %}
              Please, go to <a href="{{ url_for(var) }}">login page</a>.
              {% endif %}
          </div>
      {% endif %}
      {% endwith %}
        <form method="POST" action="/signup" >
            <div class="field">
                <div class="control">
                    <input class="form-control input-lg" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="form-control input-lg" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="form-control input-lg" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-primary" id="log_button">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
