@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Roboto+Mono:wght@200&display=swap");

* {
	box-sizing: border-box;
}

html{
	position: relative;
  height: 100%;
}

body{
  min-height: 100%;
}

.navbar {
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

#weblogo{
    height: auto;
    width: auto;
   	cursor: pointer;
    max-height: 60px;
    max-width: 250px;
    padding-left: 30px;
}

body{
	background-color: #22222e;
	color: whitesmoke;
}

a {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: whitesmoke;
	text-decoration: none;
	margin-right: auto;
}

#general_body{
	padding: 70px 0;
}

#main-page{
  font-family: "Roboto", mono;
  font-weight: 200;
  font-size: 20px;
}


.nav-link {
	text-decoration: none!important;;
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
	transition: all 0.3s ease 0s;
}

.nav-link:hover {
	color: #40c999;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
/*
button{
	padding: 9px 25px;
	background-color: #40c999;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: ;
}
*/


.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  padding: 20px;
  background: #343445;
 }

.footer > .container {
	text-align: right;
	padding-right: 15px;
  	padding-left: 15px;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


/* Colors */
.bg-blue {
  background-color:#7280b8; /*#2B3856 */
}

.bg-custom {
  background-color: #343445;
}

.navbar-collapse li:hover {
  /* background-color: #15317E; */
  color: black;
  transform: scale(1.15);
}

.navbar-right {
  float: right;
}

.custom-container {
    width: auto;
}

/* Dropdown menu on hover */
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

body.my-login-page {
  font-size: 14px;
}

.my-login-page .brand {
  overflow: hidden;
  margin: 40px auto;
  box-shadow: 0 0 20px #40c999;
  position: relative;
  z-index: 1;
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  padding-top: 30px;
  width: 400px;
}

.my-login-page .card {
  background-color: #343445; 
  border-color: transparent;
  box-shadow: 0 0 20px #40c999;
}

.my-login-page .card.fat {
  padding: 10px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .field {
  margin-bottom: 1rem;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}

.my-login-page .footer {
  margin: 40px 0;
  color: #888;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .my-login-page .card-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .my-login-page .card.fat {
    padding: 0;
  }

  .my-login-page .card.fat .card-body {
    padding: 15px;
  }
}

.btn-primary.custom-btn {
  background-color: #22222e;
  border-color:#22222e;
}

a {
    text-decoration: none !important;
}
