@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Roboto+Mono:wght@200&display=swap");

/* Colors */

.bg-custom {
  background-color: #343445;
}

* {
  box-sizing: border-box;
}

html{
  position: relative;
  height: 100%;
}

body{
  height: 100%;
  background-color: #22222e;
  color: whitesmoke;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none !important;;
  margin-right: auto;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
 
.nav-link {
  text-decoration: none!important;;
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  color: #40c999;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar {
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.navbar-collapse li:hover {
  /* background-color: #15317E; */
  color: black;
  transform: scale(1.15);
}

.navbar-right {
  float: right;
}

/* Dropdown menu on hover */
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

}

/*
button{
  padding: 9px 25px;
  background-color: #40c999;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: ;
}
*/

#weblogo{
    height: auto;
    width: auto;
    cursor: pointer;
    max-height: 60px;
    max-width: 250px;
    padding-left: 30px;
}

#content_fill{
  padding: 60px 0 60px 0;
  min-height: 100%;
}

#profile_fill{
  padding-left: 0;
}

.footer {
  bottom: 0;
  min-width: 100%;
  padding: 20px;
  background: #343445;
  text-align: right !important;
 }

/* Index page */

#main-page{
  font-family: "Roboto", mono;
  font-weight: 200;
  font-size: 20px;
}

.custom-container {
    width: auto;
}

/* Detailed exercise */
#heading {
  background-color: #343445;
  border-style: solid;
  border-width: 2px;
  border-color: #40c999;
  box-shadow: 0 0 20px #40c999;
  padding: 15px 30px 10px 30px;
  margin-bottom: 50px;
}

#problem {
  padding: 30px 25px 30px 25px;
  background-color: #343445;
  border-style: solid;
  border-width: 2px;
  border-color: #40c999;
  box-shadow: 0 0 20px #40c999;
}

#heading > .title {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: whitesmoke;
}

#problem > .statement {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 25px;
  color: whitesmoke;
  margin-bottom: 25px;
}

#dataset{
  background-color: #22222e;
  border-style: solid;
  border-width: 2px;
  border-color: #40c999;
  padding: 10px 20px 10px 10px;
  margin-top: 10px;
}

#problem_button{
  background-color: #40c999;
  border-style: solid;
  border-width: 2px;
  border-color: #40c999;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: whitesmoke;
}

.roboto{
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: whitesmoke;
}

#problem_container{
  padding-left: 0;
  padding-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

#hidden_hint{
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: whitesmoke;
}

/* Categories tabs in exercises */
.tab {
  overflow: hidden;
  border: solid;
  border-width: 2px;
  border-color: #40c999;
  box-shadow: 0 0 20px #40c999;
  background-color: #22222e;
}

.tablinks{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: whitesmoke;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3bb389;
  box-shadow: 0 0 20px #3bb389;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #40c999;
}

/* Style the tab content */
.tabcontent {
  overflow-x: auto;
  display: none;
  padding: 6px 12px;
  border: solid;
  border-width: 2px;
  border-color: #40c999;
  box-shadow: 0 13px 20px #40c999;
  border-top: none;
}

/* Exercises */

.table{
  font-family: "Nunito", sans-serif;
  color: whitesmoke;
}

.table thead th{
  border-top: none;
  padding-top: 30px;
  font-weight: 600;
  font-size: 20px;
}

.table tbody tr{
  font-weight: 400;
  font-size: 18px;

}

#language_button{
  background-color: #40c999;
  border-color: #40c999;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: whitesmoke;
}

/* Profile */

#sidebar{
  background-color: #343445;
  height:99%;
  margin: 5px 2px 2px 5px; 
  border-style: solid; 
  border-width: 2px;
  border-color: #40c999;
}

#content_column{
  padding-top: 80px;

}

.img-container {
    text-align:center; /* Align center inline elements */
}

.img-container img {
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    display: inline-block;
}

.info_container{
  text-align: center;
}

#name_profile{
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 50px;
  word-break: break-all;


}

.no-bullets{
  list-style-type: none;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.no-bullets > li{
  margin-top: 10px;
}

#mainbox{
  margin-top: 35px;
}

#welcome{
  margin-bottom: 30px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #40c999;
  box-shadow: 0 0 20px #40c999;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;

}

#pending_challenges{
  padding: 20px;
}

#pending_title{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: whitesmoke;
}

#pending_table{
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: whitesmoke;
  border-bottom: 1px solid;
}

@media screen and (max-width: 800px) {
  #columna {
    width: 100% !important;
    flex: none !important;
    max-width: 100% !important;
    padding-right: 5px;
  }

  #sidebar{
    min-height: 40%;
  }

  #mainbox{
    margin-top: 45px;
    min-height: 40%;
    flex: none !important;
    max-width: 100% !important;
    padding-right: 5px;
  }  

  #pending_challenges{
    max-width: 100% !important;
  }  

  #content_column{
    position: sticky;
    min-width: 100% !important;
    padding-top: 45px;
    padding-bottom: 30px;
  }
}
